{% extends "base.html.twig" %}

{% block title %}Inicio de Sesi칩n{% endblock %}

{% block body %}
<section class="login-section">
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <form action="{{ path('login') }}" method="post" class="col-md-8 offset-md-2">
        <h2>Inicio de Sesi칩n</h2>
        <div class="row">
            <label for="username" class="col-md-4 input-form">Usuario:</label>
            <input type="text" class="col-md-8 input-form" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="row">
            <label for="password" class="col-md-4 input-form">Contrase침a:</label>
            <input type="password" class="col-md-8 input-form" id="password" name="_password" />
        </div>
        <div class="col-md-12 center input-form">
            <a href="{{ path('register') }}">Registrarse</a>
        </div>

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}
        <div class="col-md-12 center input-form">
            <button type="submit" class="btn btn-primary">Iniciar sesi칩n</button>
        </div>
    </form>
</section>
{% endblock %}
