{% extends "base.html.twig" %}

{% block title %}Registro de Usuario{% endblock %}

{% block body %}
<section class="login-section">
	<form action="{{ path('addUser') }}" method="post">
		<h2>Registro de Usuario</h2>
		<div class="row">
		    <label for="username" class="col-md-4 input-form">Nombre de usuario:</label>
		    <input type="text" class="col-md-8 input-form" id="username" name="username" value="" required />
		</div>
		<div class="row">
		    <label for="email" class="col-md-4 input-form">Correo Electronico:</label>
		    <input type="email" class="col-md-8 input-form" id="email" name="email"  required/>
		</div>
		<div class="row">
		    <label for="password" class="col-md-4 input-form">Contraseña:</label>
		    <input type="password" class="col-md-8 input-form" id="password" name="password" required/>
		</div>
		<div class="row">
		    <label for="age" class="col-md-4 input-form">Edad:</label>
		    <input type="text" class="col-md-8 input-form" id="age" name="age" required/>
		</div>
	     <div class="col-md-12 center input-form">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
	</form>
</section>
{% endblock %}
